@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2BD598;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cad2c500;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  size: 10%;
  height: 10%;
}

li {
  float: left;
  border-right: 1px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 30px;
  font-size: 0.4cm;
}

li a:hover:not(.active) {
  color: #abdd82;
}

.active {
  background-color: #abdd82;
  border-bottom: 2px solid #c7d879;
}
.imglogo1 {
  width: 20px;
  margin-top: -4px;
  padding-bottom: 30px;
}

.button {
  position: relative;
  background-color: #b83b3b00;
  font-size: 28px;
  color: #ffffff;
  padding-top: 30px;
  width: 250px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid rgb(189, 187, 132);
  border-radius: 2px;
  outline: none;
  font-family: "Raleway", sans-serif;
}
.button:hover {
  background-color: #94e9b327;
}
.button::after {
  content: "";
  /* background: #b6df8e; */
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  font-family: "Raleway", sans-serif;
  transition: all 0.8s;
}
.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  background-color: #9ce876;
  transform: translateY(4px);
  font-family: "Raleway", sans-serif;
}
.button:active {
  background-color: #95e467;
  transform: translateY(4px);
  font-family: "Raleway", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(11, 11, 21, 0.268);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-family: "Raleway", sans-serif;
  padding-top: 50px;
}

.sidebar a:hover {
  color: #dfff88;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  width: 40px;
  margin-top: -2px;
  padding-bottom: 30px;
}

.openbtn:hover {
  background-color: rgba(218, 255, 86, 0);
}

#main {
  transition: margin-left 0.2s;
}

.openBtn {
  /* background: #f1f1f1; */
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.openBtn:hover {
  color: rgb(236, 255, 185);
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Raleway", sans-serif;
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
  font-family: "Raleway", sans-serif;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
}

.overlay input[type="text"]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.overlay button:hover {
  background: #bbb;
}

#hero-secion .hero-section-text h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
}

#blog-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 100px;
  row-gap: 50px;
}

#blog-card .blog-card-child {
  color: white;
  flex: 0 1 24%;
}

#blog-card .blog-card-child img{
  width: 50%;
}