@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  body {
    background-color: #CAD2C5;
  }
  .main1{
    background-image: linear-gradient(rgba(127, 202, 198, 0.316), rgba(85, 209, 176, 0.131)), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2BD598;

  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #cad2c500;
      /* position: fixed; */
      top: 0;
      left: 0;
      width: 100%;
      size: 10%;
      height: 10%;
    }
    
    li {
      float: left;
      border-right:1px;
    }
    
    li:last-child {
      border-right: none;
    }
    
    li a {
      display: block;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      padding-top: 30px;
      font-size: 0.4cm;
    }
    
    li a:hover:not(.active) {
      color: #abdd82;
    }
    
    .active {
     background-color: #abdd82;
      border-bottom: 2px solid #c7d879;
    }
  .imglogo1{
    width: 20px;
    margin-top: -4px;
    padding-bottom: 30px;
  }
  
  .header {
    min-height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .intro {
    text-align: center;
    padding-top: 5cm;
    max-width: 100%;
    min-width: fit-content;
  }
  .intro h1{
    font-size: 2.5cm;
    color: #ffffff;
    padding-top: 0.5cm;
    color: #ffffff;
    padding-bottom: 20px;
  }
  .intro h2{
    color: #121121
  }
  .intro p{
    color: aliceblue;
    font-size: 20px;
    line-height: 10px;
  }
  .button{
    position: relative;
    background-color: #b83b3b00;
    font-size: 28px;
    color: #FFFFFF;
    padding-top: 30px;
    width: 250px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(189, 187, 132);
    border-radius: 2px;
    outline: none;
  }
  .button:hover{
    background-color: #94e9b327;
  }
  .button::after {
    content: "";
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    background-color: #9ce876;
    transform: translateY(4px);
  }
  .button:active {
    background-color: #95e467;
    transform: translateY(4px);
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(11, 11, 21, 0.268);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding-top: 50px;
  }
  
  .sidebar a:hover {
    color: #00ff37;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    width: 40px;
    margin-top: -2px;
    padding-bottom: 30px;
  }
  
  .openbtn:hover {
    background-color: rgba(218, 255, 86, 0);
  }
  
  #main {
    transition: margin-left .2s;
  }
  
  
  .openBtn {
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    color: rgb(236, 255, 185);
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: rgb(255, 255, 255);
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }

#package h1{
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  text-shadow: 2px 2px #2c2c2c5d;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row .column {
  background-color: #85A98D;
}
.bottom-color{
  background-color: #364F53;
}

footer {
  position: relative;
  top: 100%;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35vh;
  width: 100%;
  background-color: #85A98D;
  color: #f1f2f6;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer-logo img {
  width: 70%;
}

.footer-social-icons {
  font-size: 30px;
  padding: 4px;
}

.footer-social-icons i:hover {
  color: #9bf7bd;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.footer > * {
  padding: 10px;
  width: 25%;
  font-size: 17px;
}

.footer-madeby-body {
  text-align: center;
  margin-top: 9vh;
  font-size: 20px;
}

.footer-madeby-body a {
  text-decoration: none;
  color: white;
}

.footer-madeby-body a:hover {
  color: #83e4c2;
  cursor: pointer;
  text-decoration: overline;
  transition: 0.7s;
}

.wrapper{
  position: absolute;
  bottom: 30px; 
  left: 30px;
  max-width: 365px;
  background: rgba(17, 32, 51, 0.494);
  box-shadow: #ffffff;
  padding: 25px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
  text-align: center;
}
.wrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection{
  color: rgb(33, 31, 45);
  background: #d75a5a;
}
.wrapper img{
  max-width: 90px;
}
.content header{
  font-size: 25px;
  font-weight: 600;
  color: #dadada;
}
.content{
  margin-top: 10px;
}
.content p{
  color: #c2c2c2;
  margin: 5px 0 20px 0;
}
.content .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button{
  padding: 10px 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #67998a;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button:hover{
  transform: scale(0.97);
}
.buttons .item{
  margin: 0 10px;
}
.buttons a{
  color: #110e1c;
}
.cookiesAlert{
color: #141323;
}
.buttons .item{
  color: #cecece;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 50px;
  height: 500px; 
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  /* border-radius: 50%; */
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.933); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.487); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 20px ;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn2 {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn2, .signupbtn2 {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container2 {
  padding: 16px;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #2424246e;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal2-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close2 {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close2:hover, .close2:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix2::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn2, .signupbtn2 {
     width: 100%;
  }
}